HOST='localhost'
COOKIE_DOMAIN='localhost'
PORT='8080'
ALLOWED_HOST_CORS='http://localhost:5173,http://127.0.0.1:5173'
DATABASE_URL="postgresql://prisma:prisma123@127.0.0.1:5432/db?connection_limit=10&pool_timeout=20"
DIRECT_URL="postgresql://prisma:prisma123@127.0.0.1:5432/db?connection_limit=10&pool_timeout=20"
DB_USER='prisma'
DB_NAME='prisma'
DB_PASSWORD='prisma123'
JWT_SECRET_ACCESS=
JWT_SECRET_REFRESH=
JWT_ACCESS_TOKEN_EXPIRATION_MINS='300000' #5 mins. 1second = 1000
JWT_REFRESH_TOKEN_EXPIRATION_MINS='1800000' #30 mins
SALT_ROUND='12'
API='api/v1'
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL='api/auth/google/callback'
GOOGLE_OAUTH_TOKEN_EXPIRATION_MINS='86400000' #24 HOURS